@import "variables";
/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    height: 100%;
}

body {
    background: $colGrey;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: $fontBlack;
    position: relative;
    
    &.passive {
        left: 320px;
        animation: slideBodyRight 0.5s;
        overflow: hidden;
    }
    
    @keyframes slideBodyRight {
        from {
            left: 0;
        }
        to {
            left: 320px;
        }
    }
    
    &.active {
        animation: slideBodyLeft 0.5s;
    }
    
    @keyframes slideBodyLeft {
        from {
            left: 320px;
        }
        to {
            left: 0;
        }
    }
    
    &.docWithSettings {
        margin-left: 320px;
        animation: openSetLg 0.5s;
    }
    
    @keyframes openSetLg {
        from {
            margin-left: 0;
        }
        to {
            margin-left: 320px;
        }
    }
    
    &.docWithoutSettings {
        animation: closeSetLg 0.5s;
    }
    
    @keyframes closeSetLg {
        from {
            margin-left: 320px;
        }
        to {
            margin-left: 0;
        }
    }
}

.underBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: 5;
    display: none;
}

.wrapperOutside {
    min-height: 100%;
    margin-bottom: -66px;
}

.wrapperInside {
    padding-bottom: 100px;
}

.container {
    max-width: 1140px;
    margin: auto;
    padding: 0 15px;
}

.btn {
    height: 44px;
    display: inline-block;
    line-height: 44px;
    background: $colGreyBtn;
    border-radius: 4px;
    color: $fontGrey;
    text-decoration: none;
    font-weight: 600;
    padding: 0 30px;
    
    &:hover {
        background: lighten($colGreyBtn, 5%);
    }
    
    &.btnGreen {
        color: #fff;
        background: $colBtnGreen;
        box-shadow: 0 2px 3px $colGreyBtn;
        
        &:hover {
            background-color: lighten($colBtnGreen, 5%);
        }
    }
    
    &.btnReply {
        background-image: url(/files/img/ico_btns.png);
        background-repeat: no-repeat;
        background-position: 17px -44px;
        padding-left: 53px;
        padding-right: 34px;
        letter-spacing: 0.08em;
    }
    
    &.btnSettings {
        background-image: url(/files/img/ico_btns.png);
        background-repeat: no-repeat;
        background-position: 11px 0;
        padding-left: 63px;
        padding-right: 40px;
        
        &.active {
            opacity: 0;
            animation: hideBtnShowSettings 0.5s;
        }
        
        @keyframes hideBtnShowSettings {
            from {
                opacity: 1;
            }
            to {
                opacity: 0;
            }
        }
        
        &.passive {
            animation: showBtnShowSettings 0.5s;
        }
        
        @keyframes showBtnShowSettings {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }
    
    &.btnNew {
        padding: 0 67px 0 51px;
        letter-spacing: 0.08em;
        line-height: 35px;
        margin-left: 5px;
        
        span {
            font-size: 24px;
            font-weight: bold;
            position: relative;
            top: 4px;
        }
    }
}

.mainHeader {
    background: #fff;
    min-height: 80px;
    border-top: 2px solid $colBtnGreen;
    border-bottom: 1px solid $bdGrey;
    box-shadow: 0 5px 5px lighten(#000, 95%);
    
    .topTopLinkSettings {
        background: url(/files/img/ico_btns.png) no-repeat;
        display: none;
    }
    
    .container {
        position: relative;
    }
    
    .logo {
        text-decoration: none;
        text-transform: uppercase;
        color: $fontBlack;
        font-size: 30px;
        font-weight: 600;
        background: url(/files/img/logo.png) no-repeat;
        height: 50px;
        line-height: 50px;
        display: block;
        padding-left: 44px;
        position: absolute;
        top: 17px;
        left: 16px;
        letter-spacing: 0.08em;
        
        span {
            color: $colBtnGreen;
        }
    }
    
    nav {
        float: right;
        font-weight: 600;
        margin-top: 33px;
        
        .btnCloseNav {
            display: none;
        }
        
        ul {
            padding: 0;
            margin: 0;
        }
        
        li {
            display: inline-block;
            margin-left: 26px;
            
            &:first-child {
                margin-left: 0;
            }
        }
        
        a {
            text-transform: uppercase;
            text-decoration: none;
            color: $fontBlack;
            
            &.active,
            &:hover {
                color: $colBtnGreen;
            }
        }
    }
}

.hiddenDescrition {
    display: none;
    padding: 0 9px;
    color: $fontGrey;
    
    a {
        color: $colCloseSettings;
        
        &:hover {
            text-decoration: none;
        }
    }
}

.wrapLeftSettings {
    position: fixed;
    top: 0;
    left: -320px;
    width: 320px;
    height: 100%;
    background: $colBtnGreen;
    z-index: 10;
    overflow: auto;
    
    &.opened {
        left: 0;
        animation: showSettings 0.5s;
    }
    
    @keyframes showSettings {
        from {
            left: -320px;
        }
        to {
            left: 0;
        }
    }
    
    &.closed {
        animation: hideSettings 0.5s;
    }
    
    @keyframes hideSettings {
        from {
            left: 0;
        }
        to {
            left: -320px;
        }
    }
    
    .fieldGroup {
        margin: 16px 0 8px;
        background: url(/files/img/ico_settings.png) no-repeat;
        padding-left: 37px;
        height: 44px;
        
        &.lengthKey {
            background-position: 5px 0;
        }
        
        &.liveTime {
            background-position: 5px -44px;
        }
        
        &.PassDecode {
            background-position: 5px -88px;
        }
        
        &.emailMessage {
            background-position: 5px -132px;
        }
        
        input[type="text"] {
            height: 44px;
            border: none;
            border-radius: 4px;
            display: block;
            padding: 0 16px;
            width: 200px;
        }
        
        select {
            display: block;
            background: #fff;
            border: none;
            height: 44px;
            border-radius: 4px;
            width: 200px;
            padding: 0 16px;
            box-sizing: content-box;
            color: $fontGrey;
        }
    }
    
    .blockLeftSettings {
        position: relative;
        top: 0;
        padding: 15px;
    }
    
    .nameBlock {
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        margin: 12px 10px 90px 10px;
    }
    
    .btnCloseSettings {
        position: absolute;
        top: 28px;
        right: 20px;
        text-decoration: none;
        color: $colCloseSettings;
        font-size: 28px;
        font-weight: bold;
    }
    
    .hiddenDescriptionField {
        padding-left: 37px;
        padding-right: 27px;
        font-size: 10px;
        color: $colCloseSettings;
        text-align: center;
    }
}

.lead {
    font-weight: 300;
    margin: 23px 0 12px;
    padding-left: 9px;
    letter-spacing: 0.08em;
    color: $fontGrey;
    
    .btnRequest {
        float: right;
        text-decoration: none;
        color: $fontGrey;
        font-weight: 600;
        display: block;
        background: $colGreyBtn;
        font-size: 15px;
        height: 22px;
        width: 22px;
        text-align: center;
        line-height: 22px;
        border-radius: 4px;
            
        &:hover {
            background: lighten($colGreyBtn, 5%);
        }
    }
}

.titleForm {
    background: #fff;
    height: 38px;
    border-radius: 4px 4px 0 0;
    color: $colBtnGreen;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid $bdForm;
    border-bottom: none;
    padding: 17px 17px 0;
    letter-spacing: 0.08em;
    box-shadow: 0 -2px 2px $bdForm;
    
    .btnCopy {
        float: right;
        font-size: 16px;
        font-weight: normal;
        text-decoration: none;
        text-transform: none;
        color: $fontBlack;
        background: url(/files/img/ico_copy_to.png) no-repeat 0 50%;
        padding-left: 24px;
        margin-top: 2px;
        letter-spacing: 0.03em;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

.result-hide {
    margin: 0;
    
    textarea {
        display: block;
        width: 100%;
        height: 330px;
        border-radius: 0 0 4px 4px;
        resize: none;
        border: 1px solid $bdForm;
        box-sizing: border-box;
        padding: 14px 19px;
        letter-spacing: 0.1em;
        box-shadow: 0 2px 2px $bdForm;
        outline: none;
    }
}

.managerForm {
    margin-top: 16px;
    
    .btnsForm {
        float: right;
    }
}



.mainFooter {
    min-height: 65px;
    color: $fontGrey;
    border-top: 1px solid $bdGrey;
    
    .container {
        margin-top: 20px;
    }
    
    .copyright {
        float: right;
        letter-spacing: 0.04em;
    }
    
    nav {
        
        float: left;
        
        ul {
            margin: 0;
            padding: 0;
        }
        
        li {
            display: inline-block;
            border-left: 1px solid $fontGrey;
            height: 14px;
            line-height: 14px;
            padding-left: 5px;
            padding-right: 2px;
            letter-spacing: -0.04em;
            
            &:first-child {
                border-left: none;
                padding-left: 0;
            }
        }
        
        a {
            text-decoration: none;
            color: lighten($fontGrey, 10%);
            font-weight: 600;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    body {
        &.openedMobileMenu {
            right: 320px;
            animation: docMobileMenu 0.5s;
        }
        
        @keyframes docMobileMenu {
            from {
                right: 0;
            }
            to {
                right: 320px;
            }
        }
        
        &.hidMobileMenu {
            animation: hideDocMobileMenu 0.5s;
        }
        
        @keyframes hideDocMobileMenu {
            from {
                right: 320px;
            }
            to {
                right: 0;
            }
        }
    }
    
    .wrapperOutside {
        margin-bottom: -100px;
    }
    
    .wrapperInside {
        padding-bottom: 110px;
    }
    
    main {
        overflow: hidden;
        padding-top: 66px;
    }
    
    .result-hide {
        textarea {
            height: 186px;
        }
    }
    
    .mainHeader {
        height: 52px;
        text-align: center;
        position: fixed;
        top: 0;
        width: 100%;
        
        .logo {
            font-size: 18px;
            position: static;
            display: inline-block;
            margin-top: 15px;
        }
        
        .topTopLinkSettings,
        .btnOpenMobileMenu {
            width: 27px;
            height: 27px;
            margin-top: 24px;
        }
        
        .topTopLinkSettings {
            float: left;
            background: url(/files/img/ico_btn_show_settings.png) no-repeat;
            display: block;
        }
        
        .btnOpenMobileMenu {
            float: right;
            background: url(/files/img/ico_btn_open_mobile_menu.png) no-repeat 50% 50%;
        }
        
        nav {
            position: fixed;
            width: 320px;
            background: $colBtnGreen;
            text-align: center;
            top: 0;
            right: -320px;
            margin-top: 0;
            height: 100%;
            z-index: 10;
            
            &.openedMenu {
                right: 0;
                animation: showMobileMenu 0.5s;
            }
            
            @keyframes showMobileMenu {
                from {
                    right: -320px;
                }
                to {
                    right: 0;
                }
            }
            
            &.hidMenu {
                animation: hideMobileMenu 0.5s;
            }
            
            @keyframes hideMobileMenu {
                from {
                    right: 0;
                }
                to {
                    right: -320px;
                }
            }
            
            .btnCloseNav {
                font-size: 28px;
                color: $colCloseSettings;
                position: absolute;
                display: block;
                top: 24px;
                right: 20px;
            }
            
            ul {
                padding-top: 22px;
            }
            
            li {
                display: block;
                margin: 20px 0;
            }
            
            a {
                display: block;
                color: #fff;
                
                &.active,
                &:hover {
                    color: $colCloseSettings;
                }
            }
        }
    }
    
    .btn {
        &.btnSettings {
            display: none;
        }
        
        &.btnReply {
            float: left;
            width: 45px;
            padding-left: 53px;
            padding-right: 34px;
        }
        
        &.btnNew {
            float: right;
            width: 60px;
            padding: 0 36px;
        }
    }
    
    .managerForm {
        .btnsForm {
            float: none;
            overflow: hidden;
        }
    }
    
    .mainFooter {
        nav {
            float: none;
            text-align: center;
        }
        
        .copyright {
            float: none;
            text-align: center;
            margin: 10px 0;
        }
    }
    
    .wrapLeftSettings {
        .nameBlock {
            text-align: center;
            margin: 10px 10px 20px 10px;
        }
        
        .btnCloseSettings {
            top: 24px;
        }
    }
}

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
